<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)='goBack()' defaultHref="/tabs/p-inicial"></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align:center">Acessórios</ion-title>
    <ion-buttons slot="end">
      <ion-back-button (click)='home()' defaultHref="home()" text="" icon="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-searchbar placeholder="Pesquisa" [(ngModel)]="searchTerm" showCancelButton="focus" animated></ion-searchbar>
<center><div>
  <ion-card style="display: inline-block; width: 40%; background-color: rgba(128, 128, 128, 0.219);" *ngFor="let acessorio of acessorios | keyvalue | filter:searchTerm" button (onclick)="verAcessorio(acessorio.key, 'acessorio')">
    <img [src]="acessorio.value.img" (click)="verAcessorio(acessorio.key, 'produto')">
    <ion-card-header (click)="verAcessorio(acessorio.key, 'produto')">
      <ion-card-title>{{ acessorio.value.nome }}</ion-card-title>
      <ion-card-subtitle>{{ acessorio.value.preco }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
        <ion-button (click)="verAcessorio(acessorio.key, 'tab3')"><ion-icon name="heart-outline"></ion-icon></ion-button>
        <ion-button (click)="verAcessorio(acessorio.key, 'tab2')"><ion-icon name="cart"></ion-icon></ion-button>
      </ion-card-content>
  </ion-card>
</div></center>
</ion-content>

