<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)='goBack()' defaultHref="/tabs/p-inicial"></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align:center">Calças e calções</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-searchbar placeholder="Pesquisa" [(ngModel)]="searchTerm" showCancelButton="focus" animated></ion-searchbar>
<center><div>
  <ion-card style="display: inline-block; width: 40%;" *ngFor="let calca of calcas | keyvalue | filter:searchTerm" button (onclick)="verCalca(calca.key, 'calca')">
    <img [src]="calca.value.img">
    <ion-card-header (click)="verCalca(calca.key, 'produto')">
      <ion-card-title>{{ calca.value.nome }}</ion-card-title>
      <ion-card-subtitle>{{ calca.value.preco }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
        <ion-button (click)="verCalca(calca.key, 'tab3')"><ion-icon name="heart-outline"></ion-icon></ion-button>
    </ion-card-content>
  </ion-card>
</div></center>
</ion-content>