<ion-grid id="disponibilidade">
  <ion-row>
    <ion-col>
      Loja Online:
    </ion-col>
    <ion-col>
      <ion-text color="success"> Disponível </ion-text>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      Loja Porto:
    </ion-col>
    <ion-col>
      <ion-text color="success"> Disponível </ion-text>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      Loja Lisboa:
    </ion-col>
    <ion-col>
      <ion-text color="success"> Disponível </ion-text>
    </ion-col>
  </ion-row>
</ion-grid>
