<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)='goBack()' defaultHref="goBack()"></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align:center">Carrinho</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/tabs/p-inicial" text="" icon="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar fullscreen class="ion-padding"></ion-searchbar>
  <ion-card *ngIf="sapato">
    <ion-card-header>
      <ion-card-subtitle>{{ sapato.marca }}</ion-card-subtitle>
      <ion-card-title>{{ sapato.nome }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      {{ sapato.preco }}
    </ion-card-content>
  </ion-card>

  <center><ion-button>Finalizar Compra</ion-button></center>
</ion-content>