<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)='goBack()' defaultHref="goBack()"></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align:center">Carrinho</ion-title>
    <ion-buttons slot="end">
      <ion-back-button (click)='home()' defaultHref="home()" text="" icon="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar fullscreen class="ion-padding"></ion-searchbar>
  <ion-card *ngIf="sapatos">
    <ion-card-header>
      <ion-card-subtitle>{{ sapatos.marca }}</ion-card-subtitle>
      <ion-card-title>{{ sapatos.nome }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ sapatos.preco }}€
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="camisolas">
    <ion-card-header>
      <ion-card-subtitle>{{ camisolas.marca }}</ion-card-subtitle>
      <ion-card-title>{{ camisolas.nome }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ camisolas.preco }}€
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="calcas">
    <ion-card-header>
      <ion-card-subtitle>{{ calcas.marca }}</ion-card-subtitle>
      <ion-card-title>{{ calcas.nome }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ calcas.preco }}€
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="acessorios">
    <ion-card-header>
      <ion-card-subtitle>{{ acessorios.marca }}</ion-card-subtitle>
      <ion-card-title>{{ acessorios.nome }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ acessorios.preco }}€
    </ion-card-content>
  </ion-card>

  <center>
    <ion-button (click)="selecLoja()">Seleção de Loja</ion-button>
  </center>
</ion-content>