<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align:center">TugaKidsClothes</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/p-inicial" text="" icon="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding">
  <ion-button expand="block" routerLink="/exemplo" routerDirection="forward">
    Ionic
  </ion-button>
</ion-content>
