<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)='goBack()' defaultHref="goBack()"></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align:center">Wishlist</ion-title>
    <ion-buttons slot="end">
      <ion-back-button (click)='home()' defaultHref="home()" text="" icon="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar fullscreen class="ion-padding"></ion-searchbar>
  <ion-card style=" background-color: rgba(128, 128, 128, 0.219);" *ngIf="sapato">
    <img [src]="sapato.img">
    <ion-card-header>
      <ion-card-subtitle>{{ sapato.marca }}</ion-card-subtitle>
      <ion-card-title>{{ sapato.nome }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ sapato.preco }}€
    </ion-card-content>
  </ion-card>

  <ion-card style=" background-color: rgba(128, 128, 128, 0.219);" *ngIf="camisola">
    <img [src]="camisola.img">
    <ion-card-header>
      <ion-card-subtitle>{{ camisola.marca }}</ion-card-subtitle>
      <ion-card-title>{{ camisola.nome }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ camisola.preco }}€
    </ion-card-content>
  </ion-card>

  <ion-card style=" background-color: rgba(128, 128, 128, 0.219);" *ngIf="calca">
    <img [src]="calca.img">
    <ion-card-header>
      <ion-card-subtitle>{{ calca.marca }}</ion-card-subtitle>
      <ion-card-title>{{ calca.nome }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ calca.preco }}€
    </ion-card-content>
  </ion-card>

  <ion-card style=" background-color: rgba(128, 128, 128, 0.219);" *ngIf="acessorio">
    <img [src]="acessorio.img">
    <ion-card-header>
      <ion-card-subtitle>{{ acessorio.marca }}</ion-card-subtitle>
      <ion-card-title>{{ acessorio.nome }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ acessorio.preco }}€
    </ion-card-content>
  </ion-card>
</ion-content>