<ion-header>
  <ion-toolbar>
    <ion-title>Info. Produto</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-grid *ngIf="sapato">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>{{ sapato.marca }}</ion-card-subtitle>
        <ion-card-title>{{ sapato.nome }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{ sapato.preco }}
      </ion-card-content>
    </ion-card>
  </ion-grid>

  <ion-card *ngIf="camisola">
    <ion-card-header>
      <ion-card-subtitle>{{ camisola.marca }}</ion-card-subtitle>
      <ion-card-title>{{ camisola.nome }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      {{ camisola.preco }}
    </ion-card-content>
  </ion-card>
  
  <ion-card *ngIf="acessorio">
    <ion-card-header>
      <ion-card-subtitle>{{ acessorio.marca }}</ion-card-subtitle>
      <ion-card-title>{{ acessorio.nome }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      {{ acessorio.preco }}
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="calca">
    <ion-card-header>
      <ion-card-subtitle>{{ calca.marca }}</ion-card-subtitle>
      <ion-card-title>{{ calca.nome }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      {{ calca.preco }}
    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-item>
      Loja Online: Disponível
    </ion-item>
    <ion-item>
      Loja Viana do Castelo: Esgotado
    </ion-item>
    <ion-item>
      Loja Porto: Disponível
    </ion-item>
    <ion-item>
      Loja Lisboa: Disponível
    </ion-item>
  </ion-list>

</ion-content>