<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)='goBack()' defaultHref="/tabs/p-inicial"></ion-back-button>
    </ion-buttons>
    <center><ion-title>Info. Produto</ion-title></center>
    <ion-buttons slot="end">
      <ion-back-button (click)='home()' defaultHref="home()" text="" icon="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <ion-card *ngIf="sapato">
      <img [src]="sapato.img">
      <ion-card-header>
        <ion-card-subtitle>{{ sapato.marca }}</ion-card-subtitle>
        <ion-card-title>{{ sapato.nome }}</ion-card-title>
        {{ sapato.preco }}€
      </ion-card-header>
      <ion-card-content>

        <h1>Tamanhos:</h1>
        <ion-button (click)="tamanho(item)" *ngFor="let item of tamanhos">{{item}}</ion-button><br><br>
        <ion-button (click)="openPopover($event)" expand="block" >Disponibilidade</ion-button><br>
        <ion-button (click)="verSapato(sapato.key, 'tab2')" expand="block" >Adicionar ao Carrinho</ion-button>

      </ion-card-content>
    </ion-card>
  
  <ion-card *ngIf="camisola">
    <img [src]="camisola.img">
    <ion-card-header>
      <ion-card-subtitle>{{ camisola.marca }}</ion-card-subtitle>
      <ion-card-title>{{ camisola.nome }}</ion-card-title>
      {{ camisola.preco }}€
    </ion-card-header>
    <ion-card-content>

      <h1>Tamanhos:</h1>
      <ion-button (click)="tamanho(item)" *ngFor="let item of tamanhos">{{item}}</ion-button><br><br>
      <ion-button (click)="openPopover($event)" expand="block" >Disponibilidade</ion-button><br>
      <ion-button (click)="verCamisola(camisola.key, 'tab2')" expand="block" >Adicionar ao Carrinho</ion-button>

    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="acessorio">
    <img [src]="acessorio.img">
    <ion-card-header>
      <ion-card-subtitle>{{ acessorio.marca }}</ion-card-subtitle>
      <ion-card-title>{{ acessorio.nome }}</ion-card-title>
      {{ acessorio.preco }}€
    </ion-card-header>
    <ion-card-content>

      <h1>Tamanhos:</h1>
      <ion-button (click)="tamanho(item)" *ngFor="let item of tamanhos">{{item}}</ion-button><br><br>
      <ion-button (click)="openPopover($event)" expand="block" >Disponibilidade</ion-button><br>
      <ion-button (click)="verAcessorio(acessorio.key, 'tab2')" expand="block" >Adicionar ao Carrinho</ion-button>

    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="calca">
    <ion-card-header>
      <ion-card-subtitle>{{ calca.marca }}</ion-card-subtitle>
      <ion-card-title>{{ calca.nome }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ calca.preco }}
      <ion-button (click)="tamanho(item)" *ngFor="let item of tamanhos">{{item}}</ion-button>
      <ion-button (click)="verCalca(calca.key, 'tab2')"><ion-icon name="cart"></ion-icon></ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="calca">
    <img [src]="calca.img">
    <ion-card-header>
      <ion-card-subtitle>{{ calca.marca }}</ion-card-subtitle>
      <ion-card-title>{{ calca.nome }}</ion-card-title>
      {{ calca.preco }}€
    </ion-card-header>
    <ion-card-content>

      <h1>Tamanhos:</h1>
      <ion-button (click)="tamanho(item)" *ngFor="let item of tamanhos">{{item}}</ion-button><br><br>
      <ion-button (click)="openPopover($event)" expand="block" >Disponibilidade</ion-button><br>
      <ion-button (click)="verCalca(calca.key, 'tab2')" expand="block" >Adicionar ao Carrinho</ion-button>

    </ion-card-content>
  </ion-card>

</ion-content>