<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)='goBack()' defaultHref="/tabs/p-inicial"></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align:center">Seleção de loja</ion-title>
    <ion-buttons slot="end">
      <ion-back-button (click)='home()' defaultHref="home()" text="" icon="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="LojaForm" (ngSubmit)="submitForm()" novalidate>
  <center><div>
    <ion-card style="display: inline-block; width: 80%; background-color: rgba(128, 128, 128, 0.219);">
      <ion-card-header>
        <ion-card-title>
          Lojas
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-radio-group formControlName="loja" >
            <ion-item>
              <ion-label>Loja Online</ion-label>
              <ion-radio slot="start" color="tertiary" value="online"></ion-radio>
            </ion-item>
    
            <ion-item>
              <ion-label>Loja Porto</ion-label>
              <ion-radio slot="start" color="tertiary" value="porto"></ion-radio>
            </ion-item>
    
            <ion-item>
              <ion-label>Loja Lisboa</ion-label>
              <ion-radio slot="start" color="tertiary" value="lisboa"></ion-radio>
            </ion-item>
          </ion-radio-group>
          <ion-text class="ion-padding" color="danger" *ngIf="isSubmitted && formControls.loja.errors?.required">
            Loja é de seleção obrigatória
          </ion-text>
        </ion-list>
          <ion-button type="submit" >Finalizar</ion-button>
          <ion-button>Cancelar</ion-button>
      </ion-card-content>
    </ion-card>
  </div></center>
</form>
</ion-content>