<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align:center">TugaKidsClothes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar fullscreen class="ion-padding"></ion-searchbar>

  <ion-slides color="dark" #slider pager="true" [options]="slideOpts" (ionSlideDidChange)='ionSlideDidChange()'>
    <ion-slide>
      <img src="assets/acessorio/anel1.jpg" style="width:60%;">
    </ion-slide>
    <ion-slide>
      <img src="assets/calca/calcaoAdidas.jpg" style="width:60%;">
    </ion-slide>
    <ion-slide>
      <img src="assets/camisola/camisolaFred.jpg" style="width:60%;">
    </ion-slide>
    <ion-slide>
      <img src="assets/sapato/sapatoNike.jpg" style="width:60%;">
    </ion-slide>
  </ion-slides>
</ion-content>