ion-col {
    margin-bottom: 10px;
    color: var(--ion-color-medium);
}

ion-toolbar {
    --background: transparent;
    --border-style: none;

    ion-button {
        ion-icon {
            font-size: 40px;
        }
    }
}

.bottomRow {
      margin-top: -10px;
}