<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)='goBack()' defaultHref="/tabs/p-inicial"></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align:center">Camisolas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar placeholder="Pesquisa" [(ngModel)]="searchTerm" showCancelButton="focus" animated></ion-searchbar>
  <center><div>
    <ion-card style="display: inline-block; width: 40%;" *ngFor="let camisola of camisolas | keyvalue | filter:searchTerm" button (onclick)="verCamisola(camisola.key, 'camisola')">
      <img [src]="camisola.value.img">
      <ion-card-header (click)="verCamisola(camisola.key, 'produto')">
        <ion-card-title>{{ camisola.value.nome }}</ion-card-title>
        <ion-card-subtitle>{{ camisola.value.preco }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
          <ion-button (click)="verCamisola(camisola.key, 'tab3')"><ion-icon name="heart-outline"></ion-icon></ion-button>
          <ion-button (click)="verCamisola(camisola.key, 'tab2')"><ion-icon name="cart"></ion-icon></ion-button>
      </ion-card-content>
    </ion-card>
  </div></center>
</ion-content>

