<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)='goBack()' defaultHref="goBack()"></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align:center">Camisolas</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/tabs/p-inicial" text="" icon="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngIf="infoCamisola">
    <img src="./assets/camisola/{{ infoCamisola.img }}" />
    <ion-card-header>
      <ion-card-subtitle>{{ infoCamisola.release_year }}</ion-card-subtitle>
      <ion-card-title>{{ infoCamisola.title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item-divider>
        <ion-icon color="success" name="videocam" slot="start"></ion-icon>
        <ion-badge color="success" slot="end">IMDb: {{ infoCamisola.imdb_rating }}</ion-badge>
      </ion-item-divider>
    </ion-card-content>
  </ion-card>

</ion-content>
