<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)='goBack()' defaultHref="goBack()"></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align:center">Camisolas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <center><div>
      <!-- filtros ainda tem de ser implementados -->
      <ion-button (click)="abrirFiltros()">
        <ion-icon name="filter"></ion-icon>
        <ion-label>Filtros</ion-label>
      </ion-button>
    </div></center>
    <center><div>
      <ion-card style="display: inline-block; width: 40%;" *ngFor="let camisola of dataCamisola | keyvalue" >
        <img [src]="camisola.value.img">
        <ion-card-header>
          <ion-card-title>{{ camisola.value.nome }}</ion-card-title>
          <ion-card-subtitle>{{ camisola.value.preco }}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-item-divider>
            <!-- Não estão funcionais ainda -->
          <ion-buttons slot="end">
            <ion-icon name="heart-outline" slot="end"></ion-icon>
            <ion-icon name="cart" slot="end"></ion-icon>
          </ion-buttons>
          </ion-item-divider>
        </ion-card-content>
      </ion-card>
    </div></center>
</ion-content>

